<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mysoft.lps_healthy_server.dao.mapper.PatientMapper">


    <!--    新增一个用户-->
    <insert id="insertPatientInfo" parameterType="com.mysoft.lps_healthy_server.domain.entity.Patient">

        insert into patient(nick_name, username, password, id_card, phone, sex, age)
        VALUES (#{pat.nickName}, #{pat.username}, #{pat.password}, #{pat.idCard}, #{pat.phone}, #{pat.sex}, #{pat.age})

    </insert>

<!--    修改病人信息-->
    <update id="updatePatientInfoByNickName" parameterType="com.mysoft.lps_healthy_server.domain.entity.Patient">

        update patient
        set username = #{patient.username},
            id_card =  #{patient.idCard},
            phone = #{patient.phone}
        where
            nick_name = #{patient.nickName}

    </update>


<!--    查询病人信息-->
    <select id="selectPatientInfoByNickName" parameterType="string" resultType="com.mysoft.lps_healthy_server.domain.entity.Patient">

        select * from patient where nick_name = #{nickName}

    </select>

</mapper>